{{ $docs := where .Site.RegularPages "Section" "docs" }}
{{ $languages := where .Site.RegularPages "Section" "languages" }}
{{ $currentUrl := .RelPermalink }}
{{- $filepath := .Page.File.Path }}
{{- $editLink := printf "https://github.com/zeromq/zeromq.org/edit/master/content/%s" $filepath }}

<section class="columns is-fullheight">
  <div id="docsToc" class="column is-2 column-menu is-fullheight section">
    <aside class="menu">
      <p class="menu-label">
        Get Started
      </p>
      <ul class="menu-list">
        {{ range $docs }}
        {{ $isCurrentPage := eq $currentUrl .URL }}
        <li>
          <a href="{{ .URL }}" {{ if $isCurrentPage }} class="is-active" {{ end }}>
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
      <p class="menu-label">
        Links
      </p>
      <ul class="menu-list">
        {{ range site.Params.links }}
        <li>
            <a href="{{.url}}">
              {{.title}}
            </a>
        </li>
        {{ end }}
      </ul>
      <p class="menu-label">
        Languages
      </p>
      <ul class="menu-list">
        {{ range $languages }}
        {{ $isCurrentPage := eq $currentUrl .URL }}
        <li>
          <a href="{{ .URL }}" {{ if $isCurrentPage }} class="is-active" {{ end }}>
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </aside>
    <a class="close-button" onclick="page.toggleToc()"></a>
  </div>

  <div class="column is-10 column-main">
    <section class="section">

      {{ if (findRE "<div class=\"example-" .Content 1) }}
      <div id="lang-lib-selector" class="columns is-mobile">
      {{ with .Site.Params.examples }}
        <div class="field lang-selector" style="margin-right: 1em">
          <div class="control has-icons-left">
            <div class="select">
              <select>
                {{ range . }}
                  <option value="{{ lower .language }}" data-language-name="{{ lower .language }}">{{ .language }}</option>
                {{ end }}
              </select>
            </div>
            <div class="icon is-small is-left">
              <i class="fas fa-globe"></i>
            </div>
          </div>
        </div>

        {{ range . }}
        <div class="field lib-selector" data-language-name="{{ lower .language }}">
          <div class="control has-icons-left">
            <div class="select">
              <select>
                {{ range .libraries }}
                  <option value="{{ lower . }}" data-library-name="{{ lower . }}">{{ . }}</option>
                {{ end }}
              </select>
            </div>
            <div class="icon is-small is-left">
              <i class="fas fa-book-open"></i>
            </div>
          </div>
        </div>
        {{ end }}

      {{ end }}
      </div>
      {{ end }}

      <p style="margin: 0px">
        <a href="{{ $editLink }}" id="editPageButton" target="_blank">
          <i class="fas fa-2x fa-pen-square"></i>
        </a>
      <p>

      <div class="content"
           data-languages="{{ with .Site.Params.examples  }}[{{ range $i,$e := . }}{{- if $i -}}, {{ end -}}{{ printf " %q " (lower $e.language) }}{{ end }}]{{ end }}"
           data-examples="{{ with .Site.Params.examples  }}{{"{"}}{{ range $i,$e := . }}{{- if $i -}}, {{ end -}}{{ printf "%q:" (lower $e.language)}}[{{ range $j,$f := .libraries }}{{- if $j -}}, {{ end -}}{{ printf " %q " (lower $f) }}{{ end }}]{{ end }}{{"}"}}{{ end }}">

        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </section>
  </div>
</section>
